---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    <div id="tsparticles"></div>
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    
    const options = {
      "fullScreen": {
         "enable": false 
      },
      "background": {
        "color": "#101114" 
      },
      "particles": {
        "number": {
          "value": 20
        },
        "color": {
          "value": "#6326C7"
        },
        "links": {
          "enable": true,
          "distance": 150,
          "color": "#FFFFFF",
          "opacity": 0.4
        },
        "move": {
          "enable": true
        },
        "size": {
          "value": 1
        }
      },
      "interactivity": {
        "events": {
          "onHover": {
            "enable": true,
            "mode": "repulse"
          }
        }
      }
    };

    // Inicializar tsParticles
    tsParticles.load("tsparticles", options);
  });
</script>

  </body>
</html>
